# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FantasySurvival.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\brandon.lacy\UnityProjects\FantasySurvival\.idea\.idea.FantasySurvival\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
